<div class="page-footer-tournament t-ct">
  <div class="wrapper">
    <div class="col-12">
    <h3 class="page-title">
      <span class="page-title__icon"></span>
      <span class="page-title__text">ICC Champions Trophy</span>
    </h3>
    </div>
  </div>
</div>