<section class="page-header-tournament t-ct page-header--adjacent-nav" data-widget="FullWidthPromo">
  <div class="page-header-tournament__content">
    <div class="wrapper">
      <div class="col-12">
        <div class="page-header-tournament__container">
          <div class="page-header-tournament__main-logo"></div>
          <div class="page-header-tournament__meta">
            <div class="page-header-tournament__date">June 1 – June 18, 2017</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<nav class="page-header-nav" data-widget="page-header-nav" data-script="icc_page-header">
  <div class="page-header-nav__tabs js-page-header-nav-tabs">
    <ul class="page-header-nav__tablist showMoreEnabled" role="tablist">
      <li class="page-header-nav__tab" data-nav-index="0"><a href="/" class="<%= @home_path %> btn-tab" data-link-index="0" role="tab">Overview</a></li>
      <li class="page-header-nav__tab" data-nav-index="1"><a href="/fixtures" class="<%= @fixtures_path %> btn-tab" data-link-index="1" role="tab">Fixtures</a></li>
      <li class="page-header-nav__tab" data-nav-index="2"><a href="/standings" class="<%= @standings_path %> btn-tab" data-link-index="2" role="tab">Standings</a></li>
      <li class="page-header-nav__tab" data-nav-index="3"><a href="/teams" class=" btn-tab" data-link-index="3" role="tab">Teams</a></li>
      <li class="page-header-nav__tab" data-nav-index="4"><a href="/news" class=" btn-tab" data-link-index="4" role="tab">News</a></li>
      <li class="page-header-nav__tab" data-nav-index="5"><a href="/fantasy_app" class=" btn-tab" data-link-index="5" role="tab">Fantasy App</a></li>
    </ul>
  </div>
</nav>