<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/meta' %>
</head>
<body>
  <main id="main-content" tabindex="0">
    <%= render 'layouts/header' %>
    <%= yield %>
  </main>
  <%= render 'layouts/footer' %>
</body>
</html>
